/* img{
  
  
  display: inline-block;
  clear: both;
  } */

img{
    width:200px;
    height: 200px;
    
  margin:2%;
  border: solid 3px chocolate;
  
}


div{
    display: inline-block;
    justify-content: space-around;
}

p{
    display: inline-block;
}

h2{
    font-family: 'Fascinate', cursive;
    color:rgb(252, 173, 3);
    font-size: 20px;
    padding: 20px;
    text-shadow: 2px 2px 5px red;
   
}